<div id="<%= dom_id(user) %>">
  <p>
    <strong>User ID</strong>
    <%= user.id %>
  </p>
  <p>
    <h4>email: <%= user.email %></h4>
  </p>
  <p>
    <h4>Role: <%= user.role.try(:titleize) %></h4>
  </p>
  
</div>
